<!doctype html>
<html>
<head>
    <title>Paper Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Find Related Research Papers (2020-2023)</h1>            
          </div>
        <form method="post" action="{{url_for('htmldoc')}}">
            <div class="col-md-6 mx-auto text-center">

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 500px;">
                  </div>  

				
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">htmldoc</button>
                </div>            
            </div>
        </form>
		<form method="post" action="{{url_for('htmldoc2')}}">
            <div class="col-md-6 mx-auto text-center">

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 500px;">
                  </div>  

				
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">htmldocb</button>
                </div>            
            </div>
        </form>
		<form method="post" action="{{url_for('admin')}}">
            <div class="col-md-6 mx-auto text-center">
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 500px;">
                  </div>  
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">admin</button>
                </div>            
            </div>
        </form>
		<form method="post" action="{{url_for('te')}}">
             <label for="text">Enter some text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50">{{ text }}</textarea><br><br>
        
        <label for="word">Enter a single word:</label><br>
        <input type="text" id="word" name="word" value="{{ word }}"><br><br>
        
        <label for="words">Enter two words:</label><br>
        <input type="text" id="words" name="words" value="{{ words }}"><br><br>
        
        <label for="action">Choose an action:</label><br>
        <input type="radio" id="action_rm" name="action" value="RM" checked>
        <label for="action_rm">Remove word</label><br>
        <input type="radio" id="action_f" name="action" value="F">
        <label for="action_f">Find words</label><br><br>
        
        <input type="submit" value="Submit">
        </form>
		<hr>
    
    <h2>Text (Original):</h2>
    <p>{{ text }}</p>
    
    <h2>Text (Modified):</h2>
    <p>{{ modified_text }}</p>
     </main>      
   </body>
</html>